name: Terraform CI/CD

on:
  push:
    branches:
      - master
    paths: 
      - 'frontend_infrastructure/website homepage**'

jobs:
    deploy:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: us-east-1
            

      - name: Deploy to S3
        run: |
          aws s3 sync 'frontend_infrastructure/website homepage' s3://princetonabdulsalam.cloud --delete

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths '/*'
